#main { 
     display: flex;
     flex-direction: row;
     @include media(xs) {
          flex-direction: column;
      }
	article#map { 
          background-color: #797979;
          width: 65vw;
          height: 100vh;
          @include media(xs) {
               width: 100vw;
               height: 64vh;
               }    
	}
	#content { 
          background-color: green;
          width: 35vw;
          height: 100vh;
          @include media(xs) {
               width: 100vw;
               }
	}
}