/*Variables*/
$imagen-intro:'../img/bkg_intro.jpg';
$color-font-menu: #5d5d5d;
$color-rojo-unimarc: #B52725;
$color-rojo: #ce4221;
$color-negro-unimarc: #565656;
$color-amarillo: #fabd03;
$verde-unimarc: #008a98;
$font-footer:#9f9f9f;
$bkg-footer: #1e1e1e;
$gray: #9a9a9a;
$verde: #008a95;
$bkg-color-box-a: #FAFAFA;
$bkg-color-box-b: #ffffff;
$color-primary: #fdb913;
$color-secondary: #007cc9;
$color-slider-1: #00bfeb;
$color-slider-2: #006cb7;
$color-slider-3: #f7941e;
$color-slider-4: #6dbe4b;
$color-slider-5: #662e8f;

/*variables menu*/
$bar-width: 46px;
$bar-height: 6px;
$bar-spacing: 15px;
/*Cierre variables*/

/*Cierre variables*/